body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.redExample3 {
  width: 80px;
  background-color: red;
}

.blueExample3 {
  width: 80px;
  background-color: blue;
}

.between {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.blueExample4 {
  width: 80px;
  background-color: blue;
}

.redSquare5 {
  width: 20px;
  height: 20px;
  background-color: red;
}

.toCenter {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.blueSquare {
  width: 60;
  height: 60;
  background-color: blue;
}
.red {
  display: flex;
  height: 60px;
  background-color: red;
  margin-bottom: 20px;
}

.blue {
  display: flex;
  height: 60px;
  background-color: blue;
  margin-bottom: 20px;
}

.thinGreenLine {
  display: flex;
  flex: 1;
  height: 20px;
  width: 90%;
  background-color: green;
  flex-direction: center;
  align-items: center;
}

.orange {
  display: flex;
  background-color: orange;
  height: 60;
  width: 60;
}

.orangeBack {
  background-color: orange;
  display: flex;
  height: 60px;
  margin-bottom: 20px;
}

.green {
  display: flex;
  background-color: green;
  height: 60;
  width: 30;
}

.around {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
